<div class="container pt-4">
  <div class="row">
    <form #searchForm="ngForm" (ngSubmit)="getTrainList()">
      <mat-form-field appearance="outline">
        <input matInput [min]="minDate" [matDatepicker]="picker" [formControl]="search" name="selecteddate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit"> Search trains </button>
    </form>
  </div>
  <div class="row pt-4">
    <div class="container col-5" *ngIf="trains">
      <div class="train" *ngFor="let train of trains">
        <mat-card>
          <mat-card-content style="cursor: pointer; font-size: larger;" routerLink="/train/{{ train.id }}/available-seats">
            <mat-icon style="vertical-align: middle;">train</mat-icon> {{ train.name }}
          </mat-card-content>
        </mat-card><br />
      </div>
    </div>
  </div>
</div>
