<div class="row">
  <div class="col-7">
    <div class="form-group row">
      <app-select-car (filteredCarsByType)="getFilteredCars($event)"
                      [idTrain]="idTrain"
                      [selectedDate]="selectedDate">
      </app-select-car>
      <app-multiple-seats (selectedGroupSeatsNumber)="getSelectedMultipleSeatsNumber($event)"
                          (selectedGroupSeatsList)="getSelectedMultipleSeatsList($event)"
                          [idTrain]="idTrain" 
                          [selectedDate]="selectedDate">

      </app-multiple-seats>
    </div>
    <div class="container" *ngIf="N > 1; else elseTemplate">
      <div class="container" *ngIf="selectedTrain">
        {{ selectedTrain.name }}
        <div class="p-2 border" *ngFor="let car of selectedTrain.cars">
          Car No. {{ car.carNumber }} <br />
          <div class="d-inline" *ngFor="let seat of car.seats">
            <button class="border" mat-raised-button
                    [ngStyle]="checkMultipleSeats(seat.id)"                     
                    (click)="addSeat(seat)"
                    [disabled]="disabled">
              {{ seat.number }}
            </button>
          </div>
        </div>
      </div>
      </div>
    <ng-template #elseTemplate>
      <div class="container" *ngIf="selectedTrain">
        {{ selectedTrain.name }}
        <div class="p-2 border" *ngFor="let car of selectedTrain.cars">
          Car No. {{ car.carNumber }}<br />
          <div class="d-inline" *ngFor="let seat of car.seats">
            <div class="d-inline" *ngFor="let calendar of seat.seatCalendars">
              <button class="border" mat-raised-button
                      [calendar]="calendar"
                      [style.background-color]="!calendar.seatAvailability ? '#00E828': 'red'"
                      (click)="addSeat(seat)"
                      [disabled]="calendar.seatAvailability">
                {{ seat.number }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="col-5">
    <div class="card" *ngIf="reserveSeats && selectedCarType !== 0">
      <h5 class="card-title" *ngIf="reserveSeats && selectedCarType !== 0">You have chosen:</h5>
      <div class="card-body" *ngFor="let seat of reserveSeats">
        Seat No. {{ seat.number }}
      </div>
    </div>
    <div class="container">
      <button class="btn btn-primary" *ngIf="reserveSeats && selectedCarType !== 0"
              [disabled]="reserveButton"
              (click)="goToFinishReservation()">
        Reserve now
      </button>
    </div>    
  </div>
</div>
