<div class="row">
  <div class="col-7">
    <div class="form-group row">
      <div class="col-sm-6">
        <mat-form-field appearance="fill">
          <mat-label>Car Type</mat-label>
          <mat-select>
            <mat-option *ngFor="let option of TYPES" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-1">
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon"
                [disabled]="removeButtonDisabled" (click)="decrementSeatNumber()">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <div class="col-1">
        <mat-icon style="vertical-align: middle;">person_outline</mat-icon>
      </div>
      <div class="col-1">
        <p class="text-center pt-2">{{ N }}</p>
      </div>      
      <div class="col-sm-2">
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon"
                [disabled]="addButtonDisabled" (click)="incrementSeatNumber()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="container border" *ngIf="N !== null && N > 1; else elseTemplate">
      <div class="container border" *ngIf="filteredCarsByN">
        <div class="p-2" *ngFor="let train of filteredCarsByN">
          {{ train.name }}
          <div class="p-2 border" *ngFor="let car of train.cars">
            Car No. {{ car.carNumber }} <br />
            <div class="d-inline" *ngFor="let seat of car.seats">
              <div class="d-inline border" style="cursor: pointer;"
                   [seat]="seat" [style.background-color]="seat.available ? 'blue': 'red'"
                   (click)="addSeat(seat)">
                {{ seat.number }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #elseTemplate>
      <div class="container" style="height: 50%; overflow: auto;" *ngIf="filteredCars">
        <div class="p-2 border" *ngFor="let train of filteredCars">
          {{ train.name }}
          <div class="p-2 border" *ngFor="let car of train.cars">
            Car No. {{ car.carNumber }}<br />
            <div class="d-inline" *ngFor="let seat of car.seats">
              <button class="border" mat-raised-button
                   [seat]="seat" [style.background-color]="seat.available ? '#00E828': 'red'"
                   (click)="addSeat(seat)"
                   [disabled]="!seat.available">
                {{ seat.number }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
  <div class="col-5">
    <div class="card" *ngIf="reserveSeats">
      <h5 class="card-title">You have chosen:</h5>
      <div class="card-body" *ngFor="let seat of reserveSeats">
        Seat No. {{ seat.number }}
      </div>
    </div>
    <div class="container">
      <button class="btn btn-primary" [disabled]="reserveButton" (click)="goToFinishReservation()">Reserve now</button>
    </div>    
  </div>
</div>
